<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'>
    <title><%= current_page.data.fetch("title") %></title>
    <%= stylesheet_link_tag "site" %>
    <%= javascript_include_tag "sitepress", "data-turbo-track": "reload", type: "module" %>

    <%= render_if_exists "shared/plausible" %>

  </head>
  <body class="bg-base-100 text-base-content">
    <%= render_if_exists "shared/header" %>
    <div class='mt-20'>
      <%= yield %>
    </div>
    <%= render_if_exists "shared/footer" %>
  </body>
</html>